.topbar {
  padding: 10px 0;
  width: 100%;
  height: 50px;
  background-color: rgb(49 49 49);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  /* box-shadow: 0px 10px 13px -7px #000000, 14px 10px 38px 1px rgb(0 0 0 / 23%); */
}

.topright {
  display: flex;
  align-items: center;
}

.topbarWrapper {
  display: flex;
  height: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 32px;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  column-rule: #555;
}

.topIconBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  position: absolute;
  top: -3px;
  right: 0px;
  color: #fff;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.topbarIcon {
  fill: #fff;
}
.toprightMenuBtn > span {
  display: none;
  width: 0px;
  justify-content: center;
  height: 3px;
  width: 25px;
  margin-bottom: 4px;
  background: #fff;

}
.toprightMenuBtn{
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .topright {
    display: none;
    color: rgba(255, 255, 255, 0);
    transition: all 2s ease-in-out;
  }
  .toprightMenuBtn > span {
    display: flex;
    transition: all 2s ease-in-out;
 
  }
}
