.productList {
  width: 80%;
  margin-left: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .productList {
    transition: all 0.8s ease-in-out;
    width: 100%;
  }
}
