.home {
  width: 80%;
  /* flex: 4; */
  margin-left: auto;
  margin-top: 60px;
}
.homeWidgets {
  display: flex;
  margin: 20px;
}

/* @media screen and (max-width: 1100px) {
  .home {
    transition: all 0.8s ease-in-out;
    width: 100%;
  }
} */
