*::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
  width: 0;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* mozilla */
}

.container {
  display: flex;
  margin-top: 5px;
}
